@import 'tailwindcss';

@layer theme{
*{  --brand-brown: #865D36;
  --brand-tan: #ac8968;
  --brand-dark: #3e362e;}
}

html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  width: 100%;
    margin: 0;
  padding: 0;
}

#root{
  height: 100%;
  width: 100%;
    margin: 0;
  padding: 0;
}